@font-face {
  font-family: BYekan;
  src: url(./assets/font/BYekan+.ttf);
}

body {
  margin: 0;
  font-family: BYekan, Arial, Helvetica, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  padding: 0px 150px;
  text-align: right;

}

a {
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 0px 50px;

  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px 60px;

  }


}

@media screen and (max-width: 550px) {
  .container {
    padding: 0px 60px;

  }


}
@media screen and (max-width: 400px) {
  .container {
    padding: 0px 30px;

  }


}